body{

font-family:Arial;
margin:0;
background:#f5f7fb;

}


header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 80px;

background:white;

box-shadow:0 2px 10px rgba(0,0,0,0.1);

}


.logo{

font-size:22px;
font-weight:bold;

}


nav a{

margin-left:30px;
text-decoration:none;
color:#333;

}


.hero{

display:flex;
justify-content:space-between;
align-items:center;

padding:100px;

background:white;

}


.hero-text{

width:50%;

}


.hero-text h1{

font-size:48px;

}


.hero-text p{

font-size:18px;
margin:20px 0;

}


.hero button{

padding:14px 30px;
background:#0071e3;
color:white;
border:none;
border-radius:6px;
font-size:16px;

cursor:pointer;

}


.hero-image img{

width:450px;

}


.features{

display:flex;
justify-content:space-around;

padding:80px;

}


.feature{

text-align:center;
width:250px;

}


.feature img{

width:120px;
margin-bottom:20px;

}


#solver{

background:white;

padding:80px;
text-align:center;

}


#solver textarea{

width:70%;
height:150px;

padding:15px;

font-size:16px;

}


#solver button{

margin-top:20px;

padding:12px 30px;

background:#0071e3;
color:white;

border:none;

font-size:16px;

}


#result{

margin-top:40px;

text-align:left;

width:70%;
margin-left:auto;
margin-right:auto;

background:#f0f2f5;

padding:30px;

border-radius:8px;

}